<table class="data-table" >
    <thead>
      <tr>
        <th>Country Name</th>
        <th>{{ countryName }}</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Capital City</td>
      <td>{{ capitalCity }}</td>
    </tr>
    <tr>
      <td>Region</td>
      <td>{{ region }}</td>
    </tr>
    <tr>
      <td>Income Level</td>
      <td>{{ incomeLevel }}</td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td>{{ longitude}}</td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td>{{ latitude }}</td>
    </tr>
  </tbody>
    
  </table>
